/*//////////font//////////*/
/*//////////font//////////*/
/*//////////font//////////*/
/*//////////font//////////*/
/*//////////font//////////*/

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');

@font-face {
	font-family: Gmarket_sans;
	font-weight: 300;
	src: url(../font/GmarketSansLight.woff);
}

@font-face {
	font-family: Gmarket_sans;
	font-weight: 500;
	src: url(../font/GmarketSansMedium.woff);
}

@font-face {
	font-family: Gmarket_sans;
	font-weight: 700;
	src: url(../font/GmarketSansBold.woff);
}

@font-face {
	font-family: Oliver;
	font-weight: 300;
	src: url(../font/Oliver\ Light.woff);
}

@font-face {
	font-family: Oliver;
	font-weight: 500;
	src: url(../font/Oliver\ Font.woff);
}

@font-face {
	font-family: Oliver;
	font-weight: 700;
	src: url(../font/Oliver\ Bold.woff);
}

@font-face {
	font-family: Donoun;
	font-weight: 400;
	src: url(../font/Donoun-Medium.woff);
}


/* Color schemes */
.demo {
	--color-text: #fff;
	--color-bg: #6314e0;
	--color-link: #BFBFBA;
	--color-link-hover: #fff;
	--color-info: #fff;
	--color-main-text: #BFBFBA;
	--color-scroll-text: #fff;
	--font-scroll-text: 'Josefin Sans', monospace;
	--fontsize-scroll-text: 8vw;
	transition: background-color 0.4s;
}

.codrops-header__title {
	font-family: 'Gmarket_sans';
	font-weight: 500;
}

.content .info {
	font-family: 'Donoun';
	font-weight: 400;
	font-size: 1.5rem;
}

.content__section:not(:first-child) {
	min-height: 100vh;
}

.content__main,
.content__contact {
	color: var(--color-main-text);
	font-family: 'Gmarket_sans';
	font-weight: 300;
}

.content__img {
	margin: 0 auto;
	max-width: 800px;
}

.content__text {
	font-weight: 300;
}

@media screen and (max-width: 50em) {
	.content__section:not(:first-child) {
		min-height: 0;
	}
}

/*//////////////////// Portfolio ////////////////////*/
/*//////////////////// Portfolio ////////////////////*/
/*//////////////////// Portfolio ////////////////////*/
/*//////////////////// Portfolio ////////////////////*/
/*//////////////////// Portfolio ////////////////////*/

/*----------------------------------------------------
@File: Default Styles
@Author: SPONDON IT

This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.
---------------------------------------------------- */
/*=====================================================================
@Template Name: HostHub Construction 
@Developed By: Naim Lasker
Author E-mail: naimlasker@gmail.com

=====================================================================*/
/*----------------------------------------------------*/
/*font Variables*/
/*Color Variables*/
/*=================== fonts ====================*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500|Rubik:500,700");

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Medium Layout: 1280px */
/* Tablet Layout: 768px */
/* Mobile Layout: 320px */
/* Wide Mobile Layout: 480px */
/*---------------------------------------------------- */
/*----------------------------------------------------*/

/* Start Gradient Area css
============================================================================================ */
.gradient-bg,
.header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link,
.blog_right_sidebar .widget_title,
.blog_right_sidebar .newsletter_widget .bbtns,
.blog_right_sidebar .tag_cloud_widget ul li a:hover,
.blog-pagination .page-item.active .page-link,
.blog-pagination .page-link:hover,
.comments-area .btn-reply:hover {
	background: -webkit-linear-gradient(90deg, #4458dc 0%, #854fee 100%);
	background: -moz-linear-gradient(90deg, #4458dc 0%, #854fee 100%);
	background: -o-linear-gradient(90deg, #4458dc 0%, #854fee 100%);
	background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
}

.border-gradient {
	border-image: -webkit-linear-gradient(90deg, #4458dc 0%, #854fee 100%);
	border-image: -moz-linear-gradient(90deg, #4458dc 0%, #854fee 100%);
	border-image: -o-linear-gradient(90deg, #4458dc 0%, #854fee 100%);
	border-image: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
}

.gradient-bg2 {
	background: -webkit-linear-gradient(90deg, #4458dc 0%, #854fee 100%);
	background: -moz-linear-gradient(90deg, #4458dc 0%, #854fee 100%);
	background: -o-linear-gradient(90deg, #4458dc 0%, #854fee 100%);
	background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
}

.gradient-color,
.contact_info .info_item i {
	background: -webkit-linear-gradient(90deg, #4458dc 0%, #854fee 100%);
	background: -moz-linear-gradient(90deg, #4458dc 0%, #854fee 100%);
	background: -o-linear-gradient(90deg, #4458dc 0%, #854fee 100%);
	background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* End Gradient Area css
  ============================================================================================ */

/* Start Portfolio Area css
============================================================================================ */
.portfolio_area {
	padding-bottom: 120px;
}

@media (max-width: 991px) {
	.portfolio_area {
		padding-bottom: 50px;
	}
}

.portfolio_area .filters ul {
	padding-left: 0;
	margin-bottom: 50px;
}

@media (max-width: 991px) {
	.portfolio_area .filters ul {
		margin-bottom: 20px;
	}
}

.portfolio_area .filters ul li {
	display: inline-block;
	margin-right: 50px;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	color: #222222;
	cursor: pointer;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.portfolio_area .filters ul li:hover,
.portfolio_area .filters ul li.active {
	color: #854fee;
}

.filters-content .short_info h4 {
	font-family: 'Gmarket_sans';
	font-weight: 500;
	color: #fff;
}

@media (max-width: 767px) {
	.portfolio_area .filters ul li {
		margin-right: 20px;
	}
}

.portfolio_box {
	margin-bottom: 80px;
}

@media (max-width: 767px) {
	.portfolio_box {
		margin-bottom: 35px;
	}
}

.portfolio_box .short_info {
	margin-top: 30px;
}

@media (max-width: 767px) {
	.portfolio_box .short_info {
		margin-top: 20px;
	}
}

.portfolio_box .short_info h4 {
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 0px;
}

.portfolio_box .short_info h4 a {
	color: #000000;
}

.single_portfolio {
	position: relative;
}

.single_portfolio .overlay {
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

/* .single_portfolio .icon {
	position: absolute;
	top: 100%;
	left: 100%;
	transform: translate(0, 0);
	visibility: hidden;
} */

.single_portfolio:hover .overlay {
	background: rgba(77, 87, 222, 0.5);
}

/* 
.single_portfolio:hover .icon {
	visibility: visible;
	top: 100%;
	left: 100%;
} */

.portfolio_details_inner .row {
	margin-bottom: 65px;
}

@media (max-width: 480px) {
	.portfolio_details_inner .row {
		margin-bottom: 30px;
	}
}

.portfolio_details_inner p {
	margin-bottom: 30px;
	font-size: 14px;
}

.portfolio_details_inner p:last-child {
	margin-bottom: 0px;
}

.portfolio_details_inner .portfolio_right_text {
	margin-top: 50px;
}

.portfolio_details_inner .portfolio_right_text h4 {
	font-size: 20px;
	margin-bottom: 18px;
}

.portfolio_details_inner .portfolio_right_text p {
	margin-bottom: 25px;
	font-size: 14px;
}

.portfolio_details_inner .portfolio_right_text .list li {
	margin-bottom: 7px;
	font-weight: normal;
	font-size: 14px;
}

.portfolio_details_inner .portfolio_right_text .list li span {
	font-family: "Rubik", sans-serif;
	color: #000000;
	font-size: 16px;
	font-weight: 500;
	width: 97px;
	display: inline-block;
}

.portfolio_details_inner .portfolio_right_text .list li:last-child {
	margin-bottom: 0px;
}

.portfolio_details_inner .portfolio_right_text .list li i {
	color: #f1cd09;
}

/* End Portfolio Area css
============================================================================================ */
/*----------------------------------------------------*/
/* Latest Blog Area css
============================================================================================ */
/* End Latest Blog Area css
============================================================================================ */
.blog_btn {
	border: 1px solid #eeeeee;
	background: #f9f9ff;
	padding: 0px 32px;
	font-size: 13px;
	font-weight: 500;
	font-family: "Roboto", sans-serif;
	color: #000000;
	line-height: 34px;
	display: inline-block;
}

.blog_btn:hover {
	background: #4458dc;
	border-color: #4458dc;
	color: #fff;
}

.white_bg_btn {
	background: #fff;
	display: inline-block;
	color: #000000;
	line-height: 40px;
	padding: 0px 28px;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
	border: none;
}

.white_bg_btn:hover {
	background: #4458dc;
	color: #fff;
}


/*================= latest_blog_area css =============*/
.single-recent-blog-post {
	margin-bottom: 30px;
}

.single-recent-blog-post .thumb {
	overflow: hidden;
}

.single-recent-blog-post .thumb img {
	transition: all 0.7s linear;
}

.single-recent-blog-post .details {
	padding-top: 30px;
}

.single-recent-blog-post .details .sec_h4 {
	line-height: 24px;
	padding: 10px 0px 13px;
	transition: all 0.3s linear;
}

.single-recent-blog-post .details .sec_h4:hover {
	color: #777777;
}

.single-recent-blog-post .date {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}

.single-recent-blog-post:hover img {
	transform: scale(1.23) rotate(10deg);
}

.tags .tag_btn {
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	border: 1px solid #eeeeee;
	display: inline-block;
	padding: 1px 18px;
	text-align: center;
	color: #000000;
}

.tags .tag_btn:before {
	background: #4458dc;
}

.tags .tag_btn+.tag_btn {
	margin-left: 2px;
}

/*========= blog_categorie_area css ===========*/
.blog_categorie_area {
	padding-bottom: 80px;
}

.categories_post {
	position: relative;
	text-align: center;
	cursor: pointer;
}

.categories_post img {
	max-width: 100%;
}

.categories_post .categories_details {
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	background: rgba(34, 34, 34, 0.8);
	color: #fff;
	transition: all 0.3s linear;
	display: flex;
	align-items: center;
	justify-content: center;
}

.categories_post .categories_details h5 {
	margin-bottom: 0px;
	font-size: 18px;
	line-height: 26px;
	text-transform: uppercase;
	color: #fff;
	position: relative;
}

.categories_post .categories_details p {
	font-weight: 300;
	font-size: 14px;
	line-height: 26px;
	margin-bottom: 0px;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.categories_post .categories_details .border_line {
	margin: 10px 0px;
	background: #fff;
	width: 100%;
	height: 1px;
}

.categories_post:hover .categories_details {
	background: rgba(68, 88, 220, 0.85);
}

/*============ blog_left_sidebar css ==============*/
.blog_item {
	margin-bottom: 40px;
}

.blog_info {
	padding-top: 30px;
}

.blog_info .post_tag {
	padding-bottom: 20px;
}

.blog_info .post_tag a {
	font: 300 14px/21px "Roboto", sans-serif;
	color: #000000;
}

.blog_info .post_tag a:hover {
	color: #777777;
}

.blog_info .post_tag a.active {
	color: #4458dc;
}

.blog_info .blog_meta li a {
	font: 300 14px/20px "Roboto", sans-serif;
	color: #777777;
	vertical-align: middle;
	padding-bottom: 12px;
	display: inline-block;
}

.blog_info .blog_meta li a i {
	color: #000000;
	font-size: 16px;
	font-weight: 600;
	padding-left: 15px;
	line-height: 20px;
	vertical-align: middle;
}

.blog_info .blog_meta li a:hover {
	color: #4458dc;
}

.blog_post img {
	max-width: 100%;
}

.blog_post .primary_btn {
	line-height: 38px;
}

.blog_details {
	padding-top: 20px;
}

.blog_details h2 {
	font-size: 24px;
	line-height: 36px;
	color: #000000;
	font-weight: 600;
	transition: all 0.3s linear;
}

.blog_details h2:hover {
	color: #4458dc;
}

.blog_details p {
	margin-bottom: 26px;
}

.view_btn {
	font-size: 14px;
	line-height: 36px;
	display: inline-block;
	color: #000000;
	font-weight: 500;
	padding: 0px 30px;
	background: #fff;
}

.blog_right_sidebar {
	border: 1px solid #eeeeee;
	background: #fafaff;
	padding: 30px;
}

.blog_right_sidebar .widget_title {
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #fff;
	padding: 8px 0px;
	margin-bottom: 30px;
}

.blog_right_sidebar .search_widget .input-group .form-control {
	position: relative;
	font-size: 14px;
	line-height: 29px;
	width: 100%;
	font-weight: 300;
	color: #777777;
	padding-left: 20px;
	border-radius: 45px;
	z-index: 0;
	border: double 2px transparent;
	background-image: linear-gradient(white, white), radial-gradient(circle at top left, #4458dc, #854fee);
	background-image: -webkit-linear-gradient(white, white), -webkit-radial-gradient(circle at top left, #4458dc, #854fee);
	background-image: -moz-linear-gradient(white, white), -moz-radial-gradient(circle at top left, #4458dc, #854fee);
	background-image: -ms-linear-gradient(white, white), -ms-radial-gradient(circle at top left, #4458dc, #854fee);
	background-image: -o-linear-gradient(white, white), -o-radial-gradient(circle at top left, #4458dc, #854fee);
	background-origin: border-box;
	background-clip: content-box, border-box;
	padding: 0;
	text-indent: 20px;
}

.blog_right_sidebar .search_widget .input-group .form-control.placeholder {
	color: #777777;
	text-transform: uppercase;
	font-size: 12px;
}

.blog_right_sidebar .search_widget .input-group .form-control:-moz-placeholder {
	color: #777777;
	text-transform: uppercase;
	font-size: 12px;
}

.blog_right_sidebar .search_widget .input-group .form-control::-moz-placeholder {
	color: #777777;
	text-transform: uppercase;
	font-size: 12px;
}

.blog_right_sidebar .search_widget .input-group .form-control::-webkit-input-placeholder {
	color: #777777;
	text-transform: uppercase;
	font-size: 12px;
}

.blog_right_sidebar .search_widget .input-group .form-control:focus {
	box-shadow: none;
}

.blog_right_sidebar .search_widget .input-group .btn-default {
	position: absolute;
	right: 20px;
	background: transparent;
	border: 0px;
	box-shadow: none;
	font-size: 14px;
	color: #000000;
	font-weight: 600;
	padding: 0px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 1;
}

.blog_right_sidebar .author_widget {
	text-align: center;
}

.blog_right_sidebar .author_widget h4 {
	font-size: 18px;
	line-height: 20px;
	color: #000000;
	margin-bottom: 5px;
	margin-top: 30px;
}

.blog_right_sidebar .author_widget p {
	margin-bottom: 0px;
}

.blog_right_sidebar .author_widget .social_icon {
	padding: 7px 0px 15px;
}

.blog_right_sidebar .author_widget .social_icon a {
	font-size: 14px;
	color: #000000;
	transition: all 0.2s linear;
}

.blog_right_sidebar .author_widget .social_icon a+a {
	margin-left: 20px;
}

.blog_right_sidebar .author_widget .social_icon a:hover {
	color: #4458dc;
}

.blog_right_sidebar .popular_post_widget .post_item .media-body {
	justify-content: center;
	align-self: center;
	padding-left: 20px;
}

.blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
	font-size: 14px;
	line-height: 20px;
	color: #000000;
	margin-bottom: 4px;
	transition: all 0.3s linear;
}

.blog_right_sidebar .popular_post_widget .post_item .media-body h3:hover {
	color: #4458dc;
}

.blog_right_sidebar .popular_post_widget .post_item .media-body p {
	font-size: 12px;
	line-height: 21px;
	margin-bottom: 0px;
}

.blog_right_sidebar .popular_post_widget .post_item+.post_item {
	margin-top: 20px;
}

.blog_right_sidebar .post_category_widget .cat-list li {
	border-bottom: 2px dotted #eee;
	transition: all 0.3s ease 0s;
	padding-bottom: 12px;
}

.blog_right_sidebar .post_category_widget .cat-list li a {
	font-size: 14px;
	line-height: 20px;
	color: #777;
}

.blog_right_sidebar .post_category_widget .cat-list li a p {
	margin-bottom: 0px;
}

.blog_right_sidebar .post_category_widget .cat-list li+li {
	padding-top: 15px;
}

.blog_right_sidebar .post_category_widget .cat-list li:hover a {
	color: #4458dc;
}

.blog_right_sidebar .post_category_widget .cat-list li:hover {
	border-color: #4458dc;
}

.blog_right_sidebar .newsletter_widget {
	text-align: center;
}

.blog_right_sidebar .newsletter_widget .form-group {
	margin-bottom: 8px;
}

.blog_right_sidebar .newsletter_widget .input-group-prepend {
	margin-right: -1px;
}

.blog_right_sidebar .newsletter_widget .input-group-text {
	background: #fff;
	border-radius: 0px;
	vertical-align: top;
	font-size: 12px;
	line-height: 36px;
	padding: 0px 0px 0px 15px;
	border: 1px solid #eeeeee;
	border-right: 0px;
}

.blog_right_sidebar .newsletter_widget .form-control {
	font-size: 12px;
	line-height: 24px;
	color: #cccccc;
	border: 1px solid #eeeeee;
	border-left: 0px;
	border-radius: 0px;
}

.blog_right_sidebar .newsletter_widget .form-control.placeholder {
	color: #cccccc;
}

.blog_right_sidebar .newsletter_widget .form-control:-moz-placeholder {
	color: #cccccc;
}

.blog_right_sidebar .newsletter_widget .form-control::-moz-placeholder {
	color: #cccccc;
}

.blog_right_sidebar .newsletter_widget .form-control::-webkit-input-placeholder {
	color: #cccccc;
}

.blog_right_sidebar .newsletter_widget .form-control:focus {
	outline: none;
	box-shadow: none;
}

.blog_right_sidebar .newsletter_widget .bbtns {
	color: #fff;
	font-size: 12px;
	line-height: 38px;
	display: inline-block;
	font-weight: 500;
	padding: 0px 24px 0px 24px;
	border-radius: 0;
}

.blog_right_sidebar .newsletter_widget .text-bottom {
	font-size: 12px;
}

.blog_right_sidebar .tag_cloud_widget ul li {
	display: inline-block;
}

.blog_right_sidebar .tag_cloud_widget ul li a {
	display: inline-block;
	border: 1px solid #eee;
	background: #fff;
	padding: 0px 13px;
	margin-bottom: 8px;
	transition: all 0.3s ease 0s;
	color: #000000;
	font-size: 12px;
}

.blog_right_sidebar .tag_cloud_widget ul li a:hover {
	color: #fff;
}

.blog_right_sidebar .br {
	width: 100%;
	height: 1px;
	background: #eeeeee;
	margin: 30px 0px;
}

.blog-pagination {
	padding-top: 25px;
	padding-bottom: 95px;
}

.blog-pagination .page-link {
	border-radius: 0;
}

.blog-pagination .page-item {
	border: none;
}

.page-link {
	background: transparent;
	font-weight: 400;
}

.blog-pagination .page-item.active .page-link {
	border-color: transparent;
	color: #fff;
}

.blog-pagination .page-link {
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #8a8a8a;
	border: none;
}

.blog-pagination .page-link .lnr {
	font-weight: 600;
}

.blog-pagination .page-item:last-child .page-link,
.blog-pagination .page-item:first-child .page-link {
	border-radius: 0;
}

.blog-pagination .page-link:hover {
	color: #fff;
	text-decoration: none;
	border-color: #eee;
}

/*============ Start Blog Single Styles  =============*/
.single-post-area .social-links {
	padding-top: 10px;
}

.single-post-area .social-links li {
	display: inline-block;
	margin-bottom: 10px;
}

.single-post-area .social-links li a {
	color: #cccccc;
	padding: 7px;
	font-size: 14px;
	transition: all 0.2s linear;
}

.single-post-area .social-links li a:hover {
	color: #4458dc;
}

.single-post-area .blog_details {
	padding-top: 26px;
}

.single-post-area .blog_details p {
	margin-bottom: 10px;
}

.single-post-area .quotes {
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 24px 35px 24px 30px;
	background-color: white;
	box-shadow: -20.84px 21.58px 30px 0px rgba(176, 176, 176, 0.1);
	font-size: 14px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}

.single-post-area .arrow {
	position: absolute;
}

.single-post-area .arrow .lnr {
	font-size: 20px;
	font-weight: 600;
}

.single-post-area .thumb .overlay-bg {
	background: rgba(0, 0, 0, 0.8);
}

.single-post-area .navigation-area {
	border-top: 1px solid #eee;
	padding-top: 30px;
	margin-top: 60px;
}

.single-post-area .navigation-area p {
	margin-bottom: 0px;
}

.single-post-area .navigation-area h4 {
	font-size: 18px;
	line-height: 25px;
	color: #000000;
}

.single-post-area .navigation-area .nav-left {
	text-align: left;
}

.single-post-area .navigation-area .nav-left .thumb {
	margin-right: 20px;
	background: #000;
}

.single-post-area .navigation-area .nav-left .thumb img {
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.single-post-area .navigation-area .nav-left .lnr {
	margin-left: 20px;
	opacity: 0;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.single-post-area .navigation-area .nav-left:hover .lnr {
	opacity: 1;
}

.single-post-area .navigation-area .nav-left:hover .thumb img {
	opacity: .5;
}

@media (max-width: 767px) {
	.single-post-area .navigation-area .nav-left {
		margin-bottom: 30px;
	}
}

.single-post-area .navigation-area .nav-right {
	text-align: right;
}

.single-post-area .navigation-area .nav-right .thumb {
	margin-left: 20px;
	background: #000;
}

.single-post-area .navigation-area .nav-right .thumb img {
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.single-post-area .navigation-area .nav-right .lnr {
	margin-right: 20px;
	opacity: 0;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.single-post-area .navigation-area .nav-right:hover .lnr {
	opacity: 1;
}

.single-post-area .navigation-area .nav-right:hover .thumb img {
	opacity: .5;
}

@media (max-width: 991px) {
	.single-post-area .sidebar-widgets {
		padding-bottom: 0px;
	}
}

.comments-area {
	background: #fafaff;
	border: 1px solid #eee;
	padding: 50px 30px;
	margin-top: 50px;
}

@media (max-width: 414px) {
	.comments-area {
		padding: 50px 8px;
	}
}

.comments-area h4 {
	text-align: center;
	margin-bottom: 50px;
	color: #000000;
	font-size: 18px;
}

.comments-area h5 {
	font-size: 16px;
	margin-bottom: 0px;
}

.comments-area a {
	color: #000000;
}

.comments-area .comment-list {
	padding-bottom: 48px;
}

.comments-area .comment-list:last-child {
	padding-bottom: 0px;
}

.comments-area .comment-list.left-padding {
	padding-left: 25px;
}

@media (max-width: 413px) {
	.comments-area .comment-list .single-comment h5 {
		font-size: 12px;
	}

	.comments-area .comment-list .single-comment .date {
		font-size: 11px;
	}

	.comments-area .comment-list .single-comment .comment {
		font-size: 10px;
	}
}

.comments-area .thumb {
	margin-right: 20px;
}

.comments-area .date {
	font-size: 13px;
	color: #cccccc;
	margin-bottom: 13px;
}

.comments-area .comment {
	color: #777777;
	margin-bottom: 0px;
}

.comments-area .btn-reply {
	background-color: #fff;
	color: #000000;
	border: 1px solid #eee;
	padding: 2px 18px;
	font-size: 12px;
	display: block;
	font-weight: 600;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.comments-area .btn-reply:hover {
	border: transparent;
	color: #fff;
}

.comment-form {
	background: #fafaff;
	text-align: center;
	border: 1px solid #eee;
	padding: 47px 30px 43px;
	margin-top: 50px;
	margin-bottom: 40px;
}

.comment-form h4 {
	text-align: center;
	margin-bottom: 50px;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}

.comment-form .name {
	padding-left: 0px;
}

@media (max-width: 767px) {
	.comment-form .name {
		padding-right: 0px;
		margin-bottom: 1rem;
	}
}

.comment-form .email {
	padding-right: 0px;
}

@media (max-width: 991px) {
	.comment-form .email {
		padding-left: 0px;
	}
}

.comment-form .form-control {
	padding: 8px 20px;
	background: #fff;
	border: none;
	border-radius: 0px;
	width: 100%;
	font-size: 14px;
	color: #777777;
	border: 1px solid transparent;
}

.comment-form .form-control:focus {
	box-shadow: none;
	border: 1px solid #eee;
}

.comment-form textarea.form-control {
	height: 140px;
	resize: none;
}

.comment-form ::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-size: 13px;
	color: #777;
}

.comment-form ::-moz-placeholder {
	/* Firefox 19+ */
	font-size: 13px;
	color: #777;
}

.comment-form :-ms-input-placeholder {
	/* IE 10+ */
	font-size: 13px;
	color: #777;
}

.comment-form :-moz-placeholder {
	/* Firefox 18- */
	font-size: 13px;
	color: #777;
}

/*============ End Blog Single Styles  =============*/
/*---------------------------------------------------- */
.portfolio_area .main_title h2 {
	font-family: 'Gmarket_sans';
	font-weight: 600;
}

.blog_area {
	font-family: 'Gmarket_sans';
}

.blog_area .sub-title h2{
	margin-bottom: 20px;
	font-weight: 600;
	transition: all 0.3s linear;
	cursor: default;
}

.blog_area .sub-title h2:hover {
	color: #6314e0;
}

.blog_info .blog_meta li a {
    font-family: 'Gmarket_sans';
	color: #fff;
    vertical-align: middle;
    padding-bottom: 12px;
    display: inline-block;
}
.blog_info .blog_meta li a:hover {
	color:#6314e0;
}

.blog_post .primary_btn {
    display: inline-block;
    color: #fff;
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 46px;
    outline: none !important;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    border: double 2px transparent;
    box-shadow: 0px 10px 30px rgb(118 85 225 / 30%);
	padding: 3px 20px;
	transition: all 0.3s linear;
}

.blog_post .primary_btn:hover {
    background-image: linear-gradient(#ffffff, #ffffff), radial-gradient(circle at top left, #4458dc, #854fee);
    border: 2px solid #854fee;
    color: #222222;
    box-shadow: none;
    background-clip: border-box;
}

.blog_details {
	font-weight: 300;
}

.blog_details h2 {
    cursor: default;
}

.blog_details h2:hover {
    color: #6314e0;
}

.blog_meta li {
	font-size: 1rem;
	font-weight: 300;
	cursor: default;
}

.blog_meta li i {
	font-size: 1rem;
	text-align: center;
	padding: 0px 5px;
	line-height: 2;
}

/*# sourceMappingURL=style.css.map */